@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}















header {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}


header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header h2 {
    color: hsl(212, 6%, 44%);
    font-weight: 200;
    font-size: 1.5rem;
    text-align: center;
}

header h1 {
    color: hsl(234, 12%, 34%);
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
}

header p {
    width: 60%;
    margin-top: 10px;
    font-size: 0.6rem;
    font-weight: 500;
    text-align: center;
    color: hsl(212, 6%, 44%);
}





















section {
    margin-top: 80px;
}

section .container {
    display: flex;
    justify-content: center;
    align-items: center;
}




.box {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 7px 27px -20px black;
    padding: 20px;
    /* padding-right: 0; */
    /* position: relative; */
    max-width: 320px;
    border-radius: 5px;
}

.section-h {
    color: hsl(234, 12%, 34%);
    font-size: 0.9rem;
    font-weight: 600;
    width: fit-content;
}

.section-p {
    font-size: 14px;
    color: hsl(212, 6%, 44%);
    margin-top: 5px;
    padding-right: 20px;
}

.section-img {
    /* position: absolute; */
    margin-top: 25px;
    /* margin-left: 160px; */
    /* right: 25px; */
    /* bottom: 25px; */
    width: 50px;
    align-self: flex-end;
}



.supervisor { 
    border-top: 2px solid hsl(180, 62%, 55%);
    /* height: 200px; */
    margin-right: 20px;
}

.middle {
    width: fit-content;
    display: flex;
    flex-direction: column;
}

.team-builder {
    border-top: 2px solid hsl(0, 78%, 62%);
}

.karma {
    border-top: 2px solid hsl(34, 97%, 64%);
    margin-top: 20px;
}

.calculator {
    border-top: 2px solid hsl(212, 86%, 64%);
    margin-left: 20px;
}


















footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}

.attribution {
    font-size: 0.5rem;
    background-color: #393939;
    color: white;
    padding: 10px;
    margin-top: 23px;
}

.attribution a {
    font-size: 0.5rem;
    text-decoration: none;
    color: orange;
}









@media (min-width: 1412px) {
    .section-p {
        font-size: 20px;
    }

    .box {
        max-width: 445px;
    }
}






















@media (max-width: 1003px) {
    section {
        margin-bottom: 50px;
    }

    section .container {
        flex-direction: column;
    }

    .supervisor {
        margin: 0;
        margin-bottom: 30px;
    }
    

    .karma {
        margin: 30px 0;
    }

    .calculator {
        margin: 0;
    }
}
